dehydrated:
  # Recommended parameters
  # List of domains that need a TLS certificate
  domains:
    - example.com www.example.com
    - example.net
  # Parameters of configuration file
  config:
    # Email contact to register to letsencrypt.org
    contact-email: admin@example.com
    # Optional parameters
    renew-days: 30
    keysize: 4096
    ca: https://acme-v01.api.letsencrypt.org/directory
    openssl-cnf: /usr/lib/ssl/openssl.cnf
    # see letsencrypt-sh/files/config.sh for more
  # Override formula parameters
  lookup:
    pkg: dehydrated
    pkg_apache: dehydrated-apache2
    cron_command: cronic dehydrated --cron
    # Service to reload after install of new cert
    hook_service_to_reload: nginx
    # choose a user and group to run under (default: root/root)
    # user and/or group will be created (as system) if it does not exist
    user: root
    group: root
    # see defaults.yaml for full list
